; {{ ansible_managed }}

zend_extension=xdebug.so

{% if php_xdebug_additional_configuration is defined %}
{% for item in php_xdebug_additional_configuration %}
{{ item.name }}={{ item.value }}
{% endfor %}
{% endif %}
